<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>@ViewData["Title"] Manager System</title>
    <link href="~/css/site.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<!-- Begin Top nav -->
<partial name="TopNav"/>
<!-- End Top nav -->
<div id="layoutSidenav">
    @await Component.InvokeAsync("Render")
    <!-- Begin Right content -->
    <div id="layoutSidenav_content">
        <!-- Begin Main -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- End Main -->
        <partial name="Footer"/>
    </div>
    <!-- End Right content -->
</div>

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>